# =========================
# macOS
# =========================
.DS_Store

# =========================
# Node / JS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.log

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# Metro Bundler
# =========================
.metro-health-check*
.expo/
.expo-shared/

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Android
# =========================
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.cxx/
android/app/.cxx/

# Signing files
*.keystore
*.jks

# =========================
# iOS
# =========================
ios/build/
ios/DerivedData/
ios/Pods/

# Xcode
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Testing / Coverage
# =========================
coverage/
jest/
*.tsbuildinfo