# macOS
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*

# React Native packager
.metro-health-check*

# Logs
logs
*.log

# Temporary files
*.tmp
*.temp

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
*.jks

# iOS
ios/build/
ios/Pods/
ios/DerivedData/
*.xcworkspace

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Typescript
*.tsbuildinfo